.cardSliderComponent{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:-50px;
  
    @media screen and (max-width: 900px) {
        width: 100%;
        text-align:center;
        display:block;
        
    }
    @media screen and (max-width: 600px) {
        width: 100%;
        text-align:center;
        display:block;
        
    }
}