PORT=3010
DATABASE_URL=postgres://username:password@host:port/database
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=scholarsheep_v2
PG_USER=postgres
ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
GOOGLE_CLIENT_ID=your_google_oauth_client_id
