.flashCard{
    display:flex;
    justify-content:baseline;
    align-items:center;
    height:80px;

    &__title{
        text-align:center;
        font-size:1.4em;
        flex-grow:1;
    }
    &__container{
    text-align:right;
    margin:auto auto;
    font-size:1.2em;
    width:500px;
    height:auto;
    padding:2em;
    display:flex;
    justify-content: center;
    align-items: center;

    }

    &__toggleGradeSelector {
        // border: 2px solid #03958e;
        border-radius: 10px;
        padding: 1px;
        width: 200px;
       
    }

    &__gradeSelector {
        position: relative;
        width: 200px;
        height: 40px;
        margin: 40px;
        border:2px solid black;
        border-radius:20px;
        padding:10px;
        text-align:center;
        cursor:pointer;
        &-options {
          position: absolute;
          top: 110%;
          left: 5%;
          width: 90%;
          max-height: 100px;
          text-align:left;
          overflow-y: scroll;
          background-color: white;
          border: 1px solid gray;
          border-radius:10px;
          li {
            padding: 10px;
            cursor: pointer;
      
            &:hover {
              background-color: lightgray;
            }
          }
        }
      }
      
        

}

  
  
   

