.lovingtoread{
    // width:120px;
    // height:150px;
    z-index:1;
}
.loving{
    z-index:10;
    position :absolute;
    margin:115px 25px;
    color:black;
    font-size:1.5em;

}
// .curved-text{
//     text-align: center; 
//     // padding-top: 250px;
//     font-size: 25px;
//      color: green;
//      z-index:10;
// }

// .L {
//     transform: translate(20px, 85px) rotate(0deg);
// }

// .o {
//     transform: translate(20px, 60px) rotate(5deg);
// }

// .v {
//     transform: translate(6px, 40px) rotate(-20deg);
// }

// .i {
//     transform: translate(3px, 23px) rotate(-15deg);
// }

// .n {
//     transform: translate(2px, 14px) rotate(-10deg);
// }


// .g {
//     transform: translate(20px, 85px) rotate(-30deg);
// }

// .T {
//     transform: translate(13px, 60px) rotate(-25deg);
// }

// .o {
//     transform: translate(6px, 40px) rotate(-20deg);
// }

// .R {
//     transform: translate(3px, 23px) rotate(-15deg);
// }

// .e {
//     transform: translate(2px, 14px) rotate(-10deg);
// }
// .a {
//     transform: translate(1px, 8px) rotate(-5deg);
// }

// .d{
//     transform: translate(0px, 5px) rotate(0deg);
// }



// /* An inline-block element is placed as an inline
//  element (on the same line as adjacent content), 
//  but it behaves like a block element  */

// span {
//     display: inline-block;
// }
