.rpscontent,.guessword,.paintapp,.memorygame,.etchsketch,.tictactoe{
    background-image: url('./rpschildren.png');
    background-repeat: no-repeat;
    background-position: center;
    // background-size:600px 600px;
    padding :20px;
    margin:50px auto;
    // background-color:#ccfbf1;
    background-color:#EEF2F7;
    border:2px solid #14B8A6;
    width:480px;
    height:300px;
    text-align:center;
    z-index:20;
    border-radius: 20px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    // @media screen and (max-width: 900px) {
    //   width: 250px;
    //    display:block;
    //    padding:0px;
    //   }
    //   @media screen and (max-width: 600px) {
    //      width: 200px;
    //      display:block;
    //      padding:0px;
    //      margin:0 auto;
    //     }
    // @media (max-width: 700px) {
  
    
}
.rpscolor{
   
    z-index:1;
}
.guessword{
    background-image: url('./guessword.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:200px 100px;
}
.etchsketch{
    background-image: url('./etchsketch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:200px 100px;
    overflow:hidden;
}
.paintapp{
    background-image: url('./paintapp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:200px 100px;
    overflow:visible;
}
.memorygame{
    background-image: url('./memorygame.png');
    background-repeat: no-repeat;
    background-position: center;
    overflow:visible;
}
.tictactoe{
    background-image: url('./tictactoe.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:200px 100px;
}

@media screen and (max-width: 900px){
    .rpscontent,.guessword,.paintapp,.memorygame,.etchsketch,.tictactoe{
    width: 350px;
    padding:0px;
    }
}
// @media screen and (max-width: 770px) {
//     .rpscontent,.guessword,.paintapp,.memorygame,.etchsketch,.tictactoe{
//         width: 350px;
//         padding:20px;
//         }
//  }