.canvasContainer{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.canvasContainer canvas {
    margin-bottom:0 /* Ensure there is no margin at the bottom of the canvas */
  }
  
  .canvasContainer .brushsize {
  
    margin-top: 0px; /* Ensure there is no margin at the top of the brushsize */
 
  }

  