.articleList {
    margin: 80px auto 0 auto;
    width: 300px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 900;
    line-height: 1.2em;

    &__article {
      display: flex;
    }
    &__number {
      color: blue;
      margin-top: 20px;
      padding-right: 20px;
    }
    &__title {
      color: black;
      margin: 20px 0;
      cursor: pointer;
      a {
        color: black;
      }
      a:visited {
        @extend a;
      }
      a:hover {
        color: #5200ff;
      }
    }
    &__line {
      border-bottom: 1px solid blue;
      width: 150px;
    }
  
    &__bgtext {
      display: flex;
      position: absolute;
      font-family: Manuka Condensed, Impact, Helvetica, sans-serif;
      &::after {
        margin: 2.7em 0 0 -4.7em;
        line-height: 1;
        font-size: 90px;
        font-weight: 600;
        height: 100%;
        content: "Most Popular";
        position: absolute;
        width: 1200px;
        rotate: -90deg;
        transform: scaleY(1.65);
        // color: #40cfc7;
        color:#4cbfb9;
        top: 0;
        left: 0;
        
      }
    }
    /* Adjust the position for smaller screens (e.g., mobile) */
    @media (max-width: 640px) {
  &__bgtext::after {
    margin-top:3.2em;
    max-width:100%;
    margin-left: -5.7em; /* Adjust the left margin to move it a little to the left */
    //font-size: 30px; /* Adjust the font size for smaller screens if needed */
      transform: scaleY(1.45); /* Adjust the scaling if needed */
  }
}
  }
  
