.transaction-list,
.list-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.list-header span {
  text-align: center;
  /* padding: 0 2rem 0 3rem; */
  font-size: 1.8rem;
  color: green;
  background: black;
  margin: 0 0 0 5rem;
  padding: 0 0.5rem;
  
}
ul {
  text-align: left;
}
.display-list {
  font-size: 1.2rem;
}
span:nth-of-type(2n) {
  text-align: center;
}
